nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      span.spinner
      a.navbar-brand(href='/') TWEET
    form.navbar-form.navbar-left(role="search")
        span.glyphicon.glyphicon-search
        input.form-control.search(type="text", placeholder="Search")
        .search-results.hidden
          ul
    if (session.user)
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/")
            span.glyphicon.glyphicon-home &nbsp;
            strong Home
        //- li.unread-msg
        //-   a(href="/") Inbox&nbsp;
        //-     span.badge 0
        li.dropdown
          - if (session.user.picture)
            a.user-link.dropdown-toggle(href="/@#{session.user.username}", data-toggle='dropdown')
              img.user-picture(src=session.user.picture, width="28", height="28")
              b.caret
          - else
            a.dropdown-toggle(href="/@#{session.user.username}", data-toggle='dropdown')= session.user.first_name + ' ' + session.user.last_name
              b.caret
          ul.dropdown-menu(role='menu')
            li
              a(href="/@#{session.user.username}")
                span.glyphicon.glyphicon-user
                | &nbsp;&nbsp;&nbsp;&nbsp;
                | Profile
            li
              a(href="/@#{session.user.username}/settings")
                span.glyphicon.glyphicon-cog
                | &nbsp;&nbsp;&nbsp;&nbsp;
                | Settings
            li
              a(href="/logout")
                span.glyphicon.glyphicon-log-out
                | &nbsp;&nbsp;&nbsp;&nbsp;
                | Logout
        li
          button.btn.btn-default.navbar-btn#add-question(type="button") Add Question
