extends ../layouts/simple

block content
  table.table.table-striped
    thead
      tr 
        th #
        th name
        th content
        th status
        th switch
    tbody
      - for (var i = 0; i < activities.length; i++)
        tr
          td=i + 1
          - if (activities[i].type === 20)
            td
              strong Post question
            td= activities[i].posted.question_id.title
          - if (activities[i].type === 21)
            td
              strong Post answer
            td= activities[i].posted.answer_id.content
          - if (activities[i].type === 23)
            td
              strong Post Tweet
            td= activities[i].posted.tweet_id.content
          td
            - if (activities[i].is_hidden)
              strong Hidden
            - else
              strong Visible
          td
            a(href="/activities/#{activities[i]._id}/switch") switch
