extends ../layouts/profile
block content
  #user-profile(data-username=user.username, data-session-userid=session.user._id)
    .row.user-profile
      .col-xs-10
        h1.fullname= user.fullname
        .short-bio
          - if (user.short_bio)
            span= user.short_bio
      .col-xs-2.follow-btn-switcher
        - if (session.user.username !== user.username)
          - if (session.user.following.user_ids.indexOf(user._id.toString()) === -1)
            button.pull-right.btn.btn-sm.follow-btn.follow-user Folllow
          - else
            button.pull-right.btn.btn-sm.unfollow-btn.unfollow-user Unfolllow
    .page-callout
    .row.profile-feed
      .col-xs-3
        .picture
          img(src=user.picture)
        .following
          a(href="#following")
            strong Following
          span &nbsp;
          span.following-count.light-gray= user.following.user_ids.length
          .following-user-link
            - for (var i = 0; i < user.following.user_ids.length; i++)
              a(href="/@#{user.following.user_ids[i].username}", data-username=user.following.user_ids[i].username)
                img(src=user.following.user_ids[i].picture, width="28", height="28")
        .followers
          a(href="#followers")
            strong Followers
          span &nbsp;
          span.follower-count.light-gray= followers.length
          .follower-user-link
            - for (var i = 0; i < followers.length; i++)
              a(href="/@#{followers[i].username}", data-username=followers[i].username)
                img(src=followers[i].picture, width="28", height="28")
        .followed-topics
          a(href="#followed-topics")
            strong Topics
          span &nbsp;
          span.light-gray= user.following.topic_ids.length
        .questions
          a(href="#questions")
            strong Questions
          span &nbsp;
          span.light-gray= questionCount
        .answers
          a(href="#answers")
            strong Answers
          span &nbsp;
          span.light-gray= answerCount

      .col-xs-9.activities
        - for (var i = 0; i < activities.length; i++)
          - if (activities[i].type === 10)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray voted an answer
              .question-title
                a(href="/questions/#{activities[i].voted.answer_id.question_id}")
                  .anwswer!=activities[i].voted.answer_id.contentHtml

          - if (activities[i].type === 20)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray added a new question
              .question-title
                a(href="/questions/#{activities[i].posted.question_id._id}")!=activities[i].posted.question_id.title

          - if (activities[i].type === 21)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray added a new answer
              .question-title
                a(href="/questions/#{activities[i].posted.answer_id.question_id._id}")!=activities[i].posted.answer_id.question_id.title
              .anwswer.light-gray!=activities[i].posted.answer_id.content

          - if (activities[i].type === 22)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray added a new comment

          - if (activities[i].type === 30 && !activities[i].is_hidden)
            .pagelist-item.following-user(data-username=activities[i].followed.user_id.username)
              strong #{session.user.first_name}&nbsp;
              span.light-gray followed a user&nbsp;
                a(href="/@#{activities[i].followed.user_id.username}")
                  img(src=activities[i].followed.user_id.picture, width="20", height="20")
                span &nbsp;
                a(href="/@#{activities[i].followed.user_id.username}")= activities[i].followed.user_id.fullname

          - if (activities[i].type === 31)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray followed a question&nbsp;
                a(href="/questions/#{activities[i].followed.question_id._id}", target="_blank")= activities[i].followed.question_id.title

          - if (activities[i].type === 32)
            .pagelist-item
              strong #{session.user.first_name}&nbsp;
              span.light-gray followed a topic &nbsp;
                a(href="/topics/#{activities[i].followed.topic_id.name}")
                  img(src=activities[i].followed.topic_id.picture, width="15", height="15")
                  | &nbsp;#{activities[i].followed.topic_id.name}

  script(src="/javascripts/build/profile.js")
