extends ../layouts/login

block content
  .row
    .col-xs-12
      form.form-horizontal(method="POST", action="/topics/#{topic._id}")
        input(type="hidden", name="_csrf", value!= csrfToken)
        input(type="hidden", name="_method", value="PUT")
        .form-group
          label.control-label.col-xs-2(for="name") Name
          .col-xs-4
            input#name.form-control(type="text", name="name", value!= topic.name, required)
        .form-group
          label.control-label.col-xs-2(for="type") Type
          .col-xs-4
            select#type.form-control(name="is_primary", required)
              option
              option(value="true") Primary
              option(value="false") Sub-topic
        .form-group.sub-topic-group.hidden
          label.control-label.col-xs-2 Sub-topic
          .col-xs-10
            .row
              .col-xs-4
                - if (topic.is_primary && (topic.subtopic_ids.length !== 0))
                  - var i, subtopic_id_list = []

                  - for (i = 0; i < subtopics.length; i++)
                    - subtopic_id_list.push(subtopics[i]._id)

                  - for (i = 0; i < subtopics.length; i++)
                    .checkbox
                      label
                        - if (topic.subtopic_ids.indexOf(subtopic_id_list[i]) !== -1)
                          input(type="checkbox", name="subtopic_ids", value!= subtopics[i]._id, checked, disabled)
                          span!= subtopics[i].name
                        - else
                          input(type="checkbox", name="subtopic_ids", value!= subtopics[i]._id, disabled)
                          span!= subtopics[i].name
                          span!= topic.subtopic_ids[j]
                - else
                  - for (i = 0; i < subtopics.length; i++)
                    if (subtopics[i].name !== topic.name)
                      .checkbox
                        label
                          input(type="checkbox", name="subtopic_ids", value!= subtopics[i]._id, disabled)
                          span!= subtopics[i].name
        .form-group
          label.control-label.col-xs-2(for="related_words") Related Words
          .col-xs-4
            input#related_words.form-control(type="text", name="related_words", value!= topic.related_words)
        .form-group
          label.control-label.col-xs-2(for="picture") Picture
          .col-xs-4
            input.form-control(type="url", name="picture", required, value!= topic.picture)
        .form-group
          .col-xs-offset-2.col-xs-2
            button.btn.btn-primary(type="submit") Submit

  script(src="/javascripts/libs/jquery/jquery-2.0.3.min.js")
  script.
    $(function () {
      var $is_primary  = $('select[name="is_primary"]'),
        $sub_topic_inputs = $('input[name="subtopic_ids"]'),
        $sub_topic_group  = $('.sub-topic-group');

      $is_primary.on('change', function (e) {
        if ($(e.target).val() === 'true') {
          $sub_topic_inputs.prop('disabled', false);
          $sub_topic_group.removeClass('hidden');
        } else {
          $sub_topic_inputs.prop('disabled', true);
          $sub_topic_group.addClass('hidden');
        }
      });

      $is_primary.find('option[value="#{topic.is_primary}"]').prop('selected', true);
      $is_primary.trigger('change');
    });
