extends ../layouts/simple

block content
  h2.well Edit topic
  a(href="/topics/all") Back to list
  .row
    .col-xs-12
      form.form-horizontal(method="POST", action="/topics/#{topic._id}")
        input(type="hidden", name="_csrf", value!= csrfToken)
        input(type="hidden", name="_method", value="PUT")
        .form-group
          label.control-label.col-xs-2(for="name") Name
          .col-xs-4
            .topic-name= topic.name
              a(href="#").small.edit-name [edit]
            .row
              .col-xs-10
                input#name.form-control.hidden(type="text", name="name", value!= topic.name, disabled)
              .col-xs-2
                a(href="#").hidden.small.cancel-edit-name [cancel]
        .form-group
          .col-xs-4.col-xs-offset-2
            .radio
              label
                - if (topic.is_primary)
                  input(type="radio", name="is_primary", value="true", checked)
                  | Primary topic
                - else
                  input(type="radio", name="is_primary", value="true")
                  | Primary topic
            .radio
              label
                - if (!topic.is_primary)
                  input(type="radio", name="is_primary", value="false", checked)
                  | None-primary topic
                - else
                  input(type="radio", name="is_primary", value="false")
                  | None-primary topic
        .form-group.related-topic-group
          label.control-label.col-xs-2 Related topic
          .col-xs-10
            .row
              .col-xs-4
                - var i, related_topic_id_list = []

                - for (i = 0; i < topics.length; i++)
                  - related_topic_id_list.push(topics[i]._id)

                - for (i = 0; i < topics.length; i++)
                  .checkbox
                    label
                      - if (topic.related_topic_ids.indexOf(related_topic_id_list[i]) !== -1)
                        input(type="checkbox", name="related_topic_ids", value!= topics[i]._id, checked)
                        span!= topics[i].name
                      - else
                        input(type="checkbox", name="related_topic_ids", value!= topics[i]._id)
                        span!= topics[i].name
                        span!= topic.related_topic_ids[j]
        .form-group
          label.control-label.col-xs-2(for="related_words") Related Words
          .col-xs-4
            input#related_words.form-control(type="text", name="related_words", value!= topic.related_words)
        .form-group
          label.control-label.col-xs-2(for="picture") Picture
          .col-xs-4
            input.form-control(type="url", name="picture", required, value!= topic.picture, disabled)
        .form-group
          .col-xs-offset-2.col-xs-2
            button.btn.btn-primary(type="submit") Submit

  style.
    .topic-name {
      padding-top: 7px;
    }
    .cancel-edit-name {
      display: block;
      padding-top: 8px;
    }
    .edit-name, .cancel-edit-name { margin-left: 5px; }

  script(type="text/javascript", src="/javascripts/libs/jquery/jquery-2.0.3.min.js")
  script(type="text/javascript")
    $(function () {
      var $topicName, $nameInp, $editLn, $inputName;
      $topicName = $('.topic-name');
      $inputName = $('#name');
      $editLn = $('.edit-name');
      $cancelLn = $('.cancel-edit-name');

      $editLn.click(function (e) {
        e.preventDefault();
        $topicName.hide();
        $cancelLn.removeClass('hidden');
        $inputName.removeClass('hidden').prop('disabled', false);
      });

      $cancelLn.click(function (e) {
        e.preventDefault();
        $topicName.show();
        $(this).addClass('hidden');
        $inputName.addClass('hidden').prop('disabled', true);
      });
    });
