extends ../layouts/question

block content
  #question(data-id="#{question._id}")
    .row
      .col-xs-7
        .question-text
          h1= question.title
          - if (!question.detail)
            strong
              a(href="#") Add question detail
            br
            strong
              a(href="#") Share
        .answer-count
          strong #{question.answer_ids.length} answers
        - if (session.user)
          .answer-user-wrapper.row
            .col-xs-12
              a.user(href="#")= session.user.full_name
              .fake-editor-wrapper
                .fake-answer-editor
                  .light-gray Add your answer
              .answer-text.hidden
                textarea.hidden
                .inline-editor-btn
                  .pull-right
                    button.cancel-btn Cancel
                    button.submit-btn Add Answer
        .answer-list
          - for (var i = 0; i < question.answer_ids.length; i++)
            .row
              .col-xs-1
                img(src="#{question.topic_ids[0].picture}", width="28", height="28")
              .col-xs-10
                strong
                  a(href="#")= question.answer_ids[i].user_id.full_name
              .col-xs-1
                img.pull-right(src= question.answer_ids[i].user_id.picture, width="28", height="28")
            .row
              .col-xs-11.col-xs-offset-1!= question.answer_ids[i].content
      .col-xs-5.side-bar
        - if (session.user)
          - if (session.user.following.question_ids.indexOf(question._id.toString()) === -1)
            button.btn.follow-btn.follow-question Follow Question
          - else
            button.btn.unfollow-btn.unfollow-question Unfollow Question
        - else
          a.btn.unfollow-btn(role="button", href="/") Sign Up For More

        .related-questions
          h3 Related Question
          - if (typeof related_questions !== 'undefined')
            - for (var i = 0; i < related_questions.length; i++)
              .related-question
                a(href="/questions/#{related_questions[i]._id}")= related_questions[i].topic_ids[0].name + ': '
                  span= related_questions[i].title

  script(data-main="/javascripts/app/bootstraps/question.js", src="/javascripts/libs/require/require-2.1.9.min.js")
