extends ../layouts/question

block content
  #question(data-id="#{question._id}")
    .row
      .col-xs-7
        .question-text
          .topic-list
            - for (var i = 0; i < question.topic_ids.length; i++)
              span.topic-item
                a(href="/topics/#{question.topic_ids[i]._id}", data-id="#{question.topic_ids[i]._id}")= question.topic_ids[i].name
              span.editing-topic-item.hidden
                a(href="/topics/#{question.topic_ids[i]._id}")= question.topic_ids[i].name
                button.remove-topic(data-topic-id="#{question.topic_ids[i]._id}") &nbsp;
            -if (session.user)
              a.edit.edit-topics-link(href="#edit-topics") Edit
          .row.search-box.hidden
            .col-xs-8.topic-selector
              input.form-control(type="text", placeholder="Search Topics")
              .search-results.hidden
                ul
            .col-xs-4.done
              a(role="button", href="#done") Done
          .title-text
            .edit-box
              h1.title#title-editor!= question.title
              -if (session.user)
                a.edit.edit-title-link(href="#edit-title") Edit
            .row.edit-title-actions.hidden
              .col-xs-12
                .pull-right
                  a(href="#cancel-edit-title") cancel
                  button.submit-btn save
          //- - if (!question.detail)
          //-   strong
          //-     a.add-question-detail(href="#add-details") Add Question Details
          //-     a(href="#share") Share
        .answer-count-text
          strong
            span.answer-num #{question.answer_ids.length}
            span &nbsp; answers
        - if (session.user)
          .answer-user-wrapper.row
            .col-xs-12
              a.user(href="#")= session.user.fullname
              .fake-editor-wrapper
                .fake-answer-editor
                  a.light-gray Add your answer
              .answer-text.hidden
                textarea.hidden
                .inline-editor-btn
                  .pull-right
                    button.cancel-btn Cancel
                    button.submit-btn Add Answer
        .answer-list
          - for (var i = 0; i < question.answer_ids.length; i++)
            .row
              .col-xs-1.no-padding-right
                img(src="#{question.topic_ids[0].picture}", width="32", height="32")
              .col-xs-10
                strong
                  a(href="#")= question.answer_ids[i].user_id.fullname
              .col-xs-1.no-padding-left-right
                img(src= question.answer_ids[i].user_id.picture, width="32", height="32")
            .row
              .col-xs-11.col-xs-offset-1!= question.answer_ids[i].content
      .col-xs-5.side-bar
        - if (session.user)
          - if (session.user.following.question_ids.indexOf(question._id.toString()) === -1)
            button.btn.follow-btn.follow-question Follow Question
          - else
            button.btn.unfollow-btn.unfollow-question Unfollow Question
        - else
          a.btn.unfollow-btn(role="button", href="/") Sign Up For More

        .related-questions
          h3 Related Question
          - if (typeof related_questions !== 'undefined')
            - for (var i = 0; i < related_questions.length; i++)
              .related-question
                a(href="/questions/#{related_questions[i]._id}")= related_questions[i].topic_ids[0].name + ': '
                  span!= related_questions[i].title

  script(src="/javascripts/build/question.js")
